{% extends "layout.html" %}

{% block title %}
    Change password
{% endblock %}

{% block main %}

    <form action="/change_password" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" required name="old_password" placeholder="Old password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" required name="new_password" placeholder="New password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" required name="confirmation" placeholder="Confirmation" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>

{% endblock %}